<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp" >

<div ng-controller="myController1">
    <input type="text" id="inputTodo" ng-model="todo">
    <button id="btnInput" ng-click="addToList()">Add to Todo List</button>
    <br>
    <br>
</div>


<div ng-controller="myController2">
    <button style='width:300px;Height:30px;'ng-click="getToDoList()">Get List</button>
    <br/>
    <br/>
    <div  ng-repeat="l in list">

        <input type="checkbox" ng-click="removeFromList($index)">Remove from List</input> {{l}}

    </div>

</div>

<br/>
<br/>
<br/>
I will try to do error handlin which would be a good idea.

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="javascripts/AngularTodoList.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</html>